/* styles.css */

/* Centrage de tout le contenu de la page */
body {
    text-align: center;
    font-size: 18px; /* Taille du texte augmentée pour toute la page */
}

/* Style pour le message "vous êtes <email>" */
#message {
    color: #4CAF50; /* Utilisation de la couleur verte pour les boutons */
    font-size: 24px; /* Taille du texte augmentée */
}


/* Style pour les valeurs des cellules des tableaux */
table {
    border-collapse: collapse; /* Fusion des bordures */
    margin: auto; /* Centrage horizontal */
    width: 50%; /* Largeur fixe */
}

th, td {
    border: 1px solid black;
    padding: 8px;
}



/* Style pour les étiquettes des champs à remplir */
#creer_partie label {
    font-size: 20px; /* Taille du texte augmentée */
}

/* Style pour les champs à remplir */
#creer_partie input[type="number"],
#creer_partie select {
    width: 100%; /* Largeur des champs à 100% */
    padding: 10px; /* Espacement intérieur */
    font-size: 18px; /* Taille du texte augmentée */
}

/* Style pour les boutons de soumission */
input[type="submit"] {
    background-color: #4CAF50; /* Couleur verte pour les boutons */
    color: white; /* Couleur du texte */
    padding: 12px 24px; /* Espacement intérieur augmenté */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur de la souris */
    border-radius: 5px; /* Coins arrondis */
    font-size: 18px; /* Taille du texte augmentée */
}

input[type="submit"]:hover {
    background-color: #45a049; /* Couleur de fond au survol */
}


/* Style pour tous les titres de la page */
h2 {
    font-size: 28px; /* Taille du texte augmentée */
    color: #4CAF50; /* Utilisation de la couleur verte pour les boutons */
    border: 2px solid #4CAF50; /* Ajout d'un cadre vert */
    padding: 10px; /* Espacement intérieur */
    display: inline-block; /* Permet à la section de s'adapter à la taille du contenu */
}